body {
	margin: 0;
	background: #f7f7f7;
	color: #333;
	font-family: 'Yantramanav', sans-serif;
	line-height: 1em;
}

#pattern {
	background: #8dd3d3;
	background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23fff' fill-opacity='0.45'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	width: 100%;
	height: 40px;
	margin-top: 70px;
	position: absolute;
	bottom: 0;
}

nav {
	height: 20px;
	background: #eee;
	padding: 20px;
	text-align: center;
}

	a, a:active, a:visited {
		margin: 0 10px;
		color: #000;
		letter-spacing: 1px;
		text-transform: uppercase;
		text-decoration: none;
	}

	a:hover, .active {
		border-bottom: 1px solid #000;
	}

#wrap {
	margin: 60px auto;
	width: 820px;
	position: relative;
}

.editor {
	float: left;
	width: 300px;
	position: absolute;
}

	.heading, .body-text {
		position: relative;
		margin-bottom: 60px;
	}

	.editor h2 {
		margin-right: 75px;
		font: bold 1.2em/0.5em 'Yantramanav';
		text-align: right;
	}

	.editor .refresh , .editor .box {
		display: inline-block;
		vertical-align: middle;
		width: 35px;
		height: 35px;
		border: 1px solid #333;
	}

	.editor .refresh {
		background: url('/assets/images/refresh.png') center center no-repeat;
		background-size: 20px 20px;
		cursor: pointer;
		cursor: hand;
	}

	.editor .box {
		margin-left: -5px;
		width: 190px;
		height: 85px;
		position: relative;
	}

		.editor .box .box-bg {
			background: #ddd;
			width: 180px;
			height: 75px;
			position: absolute;
			top: 5px;
			left: 5px;
		}

		.box .font-name {
			display: table-cell;
			vertical-align: middle;
			padding: 0 20px;
			width: 140px;
			height: 48px;
			text-align: center;
			background: #e5c126;
		}

		.body-text .box .font-name {
			background: #8dd3d3;
		}

		.box .icon {
			display: inline-block;
			bottom: -5px;
			width: 28px;
			height: 32px;
			border-right: 1px solid #333;
			cursor: pointer;
			cursor: hand;
		}

			.box .icon-bold {
				background: url('/assets/images/bold.png') 7px 6px no-repeat;
				background-size: auto 13px;
			}

			.box .icon-italic {
				background: url('/assets/images/italic.png') 5px 6px no-repeat;
				background-size: auto 13px;
			}

			.box .icon-caps {
				background: url('/assets/images/caps.png') 2px 6px no-repeat;
				background-size: auto 13px;
			}

			.box .like, .box .liked {
				position: absolute;
				line-height: 26px;
				padding: 7px 0;
				width: 84px;
				height: 24px;
				border: none;
				text-align: center;
				color: #888;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-size: 0.8em;
				font-weight: 700;
			}

			.box .liked { 
				color: #b74a73;
				visibility: hidden; 
				cursor: default;
			}

	.editor .line {
		position: absolute;
		top: 70%;
		left: 36px;
		height: 0;
		width: 274px;
		border-bottom: 1px solid #000;
	}

		.heading .line {
			width: 290px;
		}

.textbox {
	float: right;
	width: 420px;
	margin-bottom: 70px;
	padding: 20px 50px 40px 80px;
	background: #fff;
}

	.textbox h1 {
		font: 700 3em/1em 'Droid Serif';
	}

	.textbox .paragraphs {
		position: relative;
	}

		.textbox .paragraphs .paragraphs-bracket {
			position: absolute;
			left: -40px;
			top: 0;
			border: 1px solid #333;
			border-right: none;
			display: block;
			width: 15px;
			height: 100%;
		}

	.textbox p {
		font: normal 1em/1.5em 'Yantramanav';
	}

	.emporium {
		display: inline;
		background: #f9d84e;
		padding: 2px 4px;
	}

.likedFont {
	display: inline-block;
	margin: 5px;
	padding: 10px;
	font-size: 1.5em;
	border: 1px solid #000;
}

.codespace {
	background: #fff;
	margin: 60px 0;
	padding: 20px;
	font-family: monospace;
	display: block;
}