<nav>
	{{#link-to "index"}}Home{{/link-to}}
	{{#link-to "liked" class="active"}}Favorites{{/link-to}}
</nav>

<div id="wrap">
{{#each model as |data|}}
	{{#link-to "liked.code" data.family class="likedFont"}}{{data.family}}{{/link-to}}
{{!-- 	<div class="likedFont">{{data.family}}</div> --}}
{{/each}}

{{outlet}}
</div>
